{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Product Search</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>
    <body style="height: 100%; background: url(https://res.cloudinary.com/g-draf-inc/image/upload/v1564481864/background_image_bqfedy.png), url(https://res.cloudinary.com/g-draf-inc/image/upload/v1616396351/f0j2jf6ddoj41_c2afjh.jpg);">
    <header class="page-header">
        <nav class="navbar navbar-primary bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" style="color: white;" href="#">Product Search</a>
            </div>
          </nav>
    </header>
    <main class="container">
        <div class="row">
            <div class="col">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </main>
</body>
</html>